body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 330px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    display: block;
}

input:focus {
    border-color: #ff8c00;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #efca6d;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #efca6d;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.login-link a {
    color: #efca6d;
    text-decoration: none;
}