<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h2 class="login-title">Área do administrador</h2>

        <form class="login-form" th:action="@{/admin/login}" method="post">

            <input type="email"
                   name="email"
                   placeholder="Email"
                   required>

            <input type="password"
                   name="senha"
                   placeholder="Senha"
                   required>

            <button class="login-btn" type="submit">
                Entrar
            </button>

        </form>

        <p class="login-error" th:if="${param.erro}">
            Email ou senha inválidos
        </p>

    </div>

</div>

</body>
</html>