<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>
<body>

<div class="perfil-container">

    <header class="perfil-header">
        <a href="/" class="back">← Voltar</a>
        <h1>Perfil</h1>
    </header>

    <section class="perfil-section">

        <h2>
            <span class="material-symbols-outlined">person</span>
            Dados da conta
        </h2>

        <div class="info">
            <p><strong>Nome:</strong> <span th:text="${cliente.nome}"></span></p>

            <p><strong>Email:</strong> <span th:text="${cliente.email}"></span></p>
        </div>

    </section>

    <section class="perfil-section">

        <h2>
            <span class="material-symbols-outlined">home</span>
            Endereço
        </h2>

        <form th:action="@{/perfil/localizacao}" method="post">

            <label>CEP</label>
            <input type="text"
                   name="cep"
                   th:value="${cliente.CEP}"
                   placeholder="Digite seu CEP">

            <label>Endereço</label>
            <input type="text"
                   name="endereco"
                   th:value="${cliente.endereco}"
                   placeholder="Digite seu endereço">

            <label>Telefone</label>
            <input type="text"
                   name="telefone"
                   th:value="${cliente.telefone}"
                   placeholder="Digite seu telefone">

            <button type="submit">
                Salvar informações
            </button>

        </form>

    </section>

    <section class="perfil-section">

        <h2>
            <span class="material-symbols-outlined">receipt_long</span>
            Meus pedidos
        </h2>

        <a href="#" class="opcao">
            Ver histórico de pedidos
        </a>

    </section>

    <section class="perfil-section">

        <h2>
            <span class="material-symbols-outlined">settings</span>
            Configurações
        </h2>

        <a href="/logout" class="opcao sair">
            Sair da conta
        </a>

    </section>

</div>

</body>
</html>